DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lisans_yonetim"
JWT_SECRET="degistirilmesi_gereken_guclu_bir_gizli_anahtar"
ADMIN_EMAIL="admin@yerel.test"
ADMIN_PASSWORD="123456"
NEXT_PUBLIC_API_URL="http://localhost:4000"
PORT=4000
DEMO_MODU="false"
